<h1> Edit Password </h1>

<%= form_with model: @user, :authenticity_token => false, skip_enforcing_utf8: true do |f| %>
    <% if @user.errors.any? %>
        <div style="color: red">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
            <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
        </div>
  <% end %>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div>
    <%= f.submit "Edit" %>
  </div>
<% end %>