<h1>Edit profile</h1>

<%= form_with url: edit_show_path, method: :get, local: true, :authenticity_token => false, skip_enforcing_utf8: true do |form| %>
  <div class="field">
    <%= form.hidden_field :id, value: cookies[:user_id]%>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>
  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>
  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>
  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.text_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit "Update" %>
    <%#= link_to 'Update Name', update_name_path(id: cookies[:user_id], name: @user.name), method: :get, data: { turbo: false } %>
  </div>
<% end %>